<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" th:action="@{/e-bank/user/send-money/send-process}" th:object="${user}">
    Name : <span th:text="${user.getName()}"></span>
    Money :<span th:text="${amount}"></span>

    <input name="bank_No" th:value="${user.getBankDetails().getBank_no()}" type="hidden">
    <input name="amount" th:value="${amount}" type="hidden">

    <span name="bankNumber" th:text="${user.getBankDetails().getBank_no()}"></span>
    <input type="submit" value="Proceed">

    <!-- form elements go here -->
    <button id="cancel-button" type="button">cancel</button>

</form>

</body>

<script>
    document.getElementById('cancel-button').addEventListener('click', function () {
        window.location.href = 'user/user/dashboard';  // redirect to homepage
    });
</script>

</html>